__pycache__
*.pyc
*.db
.env
pgdata/
*.log
*.sqlite3
.vscode/
.tmp_dagster_*
*.egg-info
screenshots/
*.egg
notebooks/
data/
README.md
docs/
yolov8n.pt
session.session
*.ipynb_checkpoints
*.DS_Store
FR.MD
scraper.log
create_structure.py
final_report.pdf
*.csv
src/__pycache__/
notebooks/__pycache__/
notebooks/session.session
notebooks/scraper.log
dagster_popiline/__pycache__/
dagster_popiline/jobs/__pycache__/
dagster_popiline/ops/__pycache__/
api/__pycache__/
api/routers/__pycache__/
api/models/__pycache__/
